# ignore file to help keep class files and other binary
# file out of the repo
.idea/
*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
*.class
*.war
*.bak
*.old
*.log
/.settings/
target/
target-eclipse/
